<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <title>Ip Counter</title>
</head>
<body>
  <div class="container">
    <form action="/requestIp" method="POST" class="my-4 form-inline">
      <label for="IP" class="sr-only"></label>
      <input required placeholder="Put your ip here..." name="ip" id="ip" class="form-control col mr-2">
      <button class="btn btn-success" type="submit">Submit</button>
    </form>
    
    <table class="table table-striped table-responsive">
      <thead>
        <tr>
          <th>ip</th>
          <th>count</th>
        </tr>
      </thead>
      <tbody>
        <% informations.forEach(information => { %>
          <tr>
            <td><%= information.ip %></td>
            <td><% if(information.count > 10){ %>
                 Error
               <% } else{ %>  
                 <%= information.count %>
                <% } %>
            </td>           
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</body>
</html>